label {
	display: block;
	text-align: center;

	span {
		color: #fff;
		font-size: 16px;
	}
}

input {
	margin: 5px auto;
	line-height: 25px;
}

button {
	line-height: 30px;
	width: 40px;
	margin: 0 10px;
	background: green;
	border: none;
	color: royalblue;
}

h1 {
	text-align: center;
	color: #fff;
}



.Login-zrb-1 {
	width: 300px;
	background: red;
	margin: 20px auto;
	padding-bottom: 20px;
}

.register-zrb-1 {
	width: 300px;
	background: red;
	margin: 20px auto;
	padding-bottom: 20px;
}